@import "~bootstrap/dist/css/bootstrap.min.css";

.randomSuitBottom {
  transform: rotate(180deg);
  text-align: right;
}

.randomSuitTop,
.randomSuitBottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 100px;
}

.randomCard {
  font-size: 150px;
}

.dropdown-menu {
  width: auto;
  min-width: 200px; /* Ajusta según sea necesario */
}
.dropdown-menu li {
  padding: 8px;
}
.dropdown-menu input.picker {
  width: 100%;
}

.card {
  height: 550px;
  width: 400px;
}
